.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 100vw;
    height: 100vh;
    max-height: 900px;
    border-radius: 40px;
    background-image: linear-gradient(to top right, #4a91ff, #47bfdf);
    padding: 25px;

    & > img {
        width: 200px;
    }
}

.wrapper-current-weather {
    color: #fff;
    width: 100%;
    height: 335px;
    background-color: rgba($color: #fff, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    // border: 2px solid;

    h2 {
        font-size: 40px;
        margin-bottom: 4px;
    }

    .current-temperature {
        font-size: 80px;
        margin-bottom: 16px;
        margin-top: 20px;
        text-shadow: 5px 5px 30px #000000;
    }

    .current-description {
        margin-bottom: 24px;
        font-size: 28px;
    }

    .current-environment {
        margin-bottom: 8px;
        display: flex;

        & > span:not(:last-child) {
            display: flex;
            justify-content: center;
            width: 50px;
        }
    }
}

.wrapper-weather-forecast {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
}

.weather-forecast {
    padding: 0 10px;
}

.wrapper-forecast-item {
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    font-size: 18px;

    img {
        width: 70px;
    }
}

.wrapper-forecast-item.active {
    background-color: rgba($color: #fff, $alpha: 0.3);
}
